
.home-features{
  border-top: 1px solid rgba(38, 38, 38, 1);  
  border-bottom: 1px solid rgba(38, 38, 38, 1);
}

.features-container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  justify-content: space-between;
  gap: 20px;
  padding: 0px  40px;
  position: relative; /* Required for positioning pseudo-elements */
}

.features-item {
  border-radius: 10px;
  color: #fff;
  position: relative; /* Required for positioning content above the lines */
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 360px;
}

.icon-container-heading h2 {
  font-size: 1.5rem;
  margin-left: 15px;
}

.features-icon {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px;
}

.features-item p {
  font-size: 1rem;
}

.features-item-row:after {
  content: "";
  position: absolute;
  width: 784px;
  height: 2px;
  display: block;
  background-color: rgba(38, 38, 38, 1);
  left: -225px;
}

/* .features-item::after {
  content: "";
  position: absolute;
  width: 43vw;
  height: 2px;
  display: block;
  background-color: aliceblue;
  left: -227px;
} */
/* Add full-width horizontal lines using pseudo-elements */
.features-container::before,
.features-container::after,
.features-item:nth-child(3)::before,
.features-item:nth-child(4)::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: #333; /* Adjust the color of the lines */
  z-index: 1;
}

/* Horizontal lines */
/* .features-container::before {
  top: 33%; First horizontal line
  height: 1px;
} */

/* .features-item:nth-child(3)::before {
    top: 50%; /* Second horizontal line */
    /* height: 1px;
}  */

/* .features-item:nth-child(4)::before {
  top: 66%; /* Third horizontal line */
  /* height: 1px;
} */

/* Vertical line */
.features-container::after {
  top: 0;
  bottom: 0;
  left: 50%; /*Center the vertical line*/
  width: 1px;
  background-color: #333;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .features-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .icon-container-heading h2 {
    font-size: 1.3rem;
  }

  .features-item p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  .features-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .icon-container-heading h2 {
    font-size: 1.2rem;
  }

  .features-item p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  .features-container {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .icon-container-heading h2 {
    font-size: 1.1rem;
  }

  .features-item p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 767px) {
  .features-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .icon-container-heading h2 {
    font-size: 1rem;
  }

  .features-item p {
    font-size: 0.75rem;
  }
}
