.why-choose-codemeg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
    /* background-image: url('../assets/images/why-choose-codemeg1.png'); Update with the correct path */
    background-size: cover;
    background-position: center;
  }
  
  .why-choose-codemeg h1 {
    font-size: 40px;
    color: #fff; /* Adjust color if necessary */
    font-family: 'Arial', sans-serif;
  }
  