

.home-page{
    /* background-color:black;
    width: 100%; */
    background-color: black;
    color: #fff;
    width: 100vw;
}

.homepage_container{
    max-width: 1140px;
    width: 100%; 
    /* height: 100vh; */
    padding: 0 15px;
    margin: 0 auto;
}

.highlight_title{
    color: #ff6600;
  }