.blog-content{
  border-bottom: 1px solid rgba(38, 38, 38, 1);
}

.blog-container {
    /* background-color: #181818; */
    color: #fff;
    padding: 60px 20px;
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .blog-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .blog-paragraph {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-height 0.3s ease-in-out;
  }
  
  .blog-paragraph.expanded {
    max-height: 1000px;
    white-space: normal;
  }
  
  .read-more-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .read-more-btn .arrow {
    font-size: 12px;
  }
  
  .read-more-btn .arrow.down {
    transform: rotate(0);
  }
  
  .read-more-btn .arrow.up {
    transform: rotate(180deg);
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 1024px) {
    .blog-container {
      padding: 15px;
    }
  
    .blog-title {
      font-size: 22px;
    }
  
    .blog-paragraph {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .blog-container {
      padding: 10px;
    }
  
    .blog-title {
      font-size: 20px;
    }
  
    .blog-paragraph {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-container {
      padding: 8px;
    }
  
    .blog-title {
      font-size: 18px;
    }
  
    .blog-paragraph {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .blog-container {
      padding: 5px;
    }
  
    .blog-title {
      font-size: 16px;
    }
  
    .blog-paragraph {
      font-size: 12px;
    }
  }
  